@model ProjectLibrary.ObjectBussiness.User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">User Details</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card border rounded p-3 mb-3 bg-light">
                <h4>User Information</h4>
                <hr />

                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.UserId)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.UserId)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Password)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Password)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.EmailConfirmed)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.EmailConfirmed)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.EmailConfirmationToken)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.EmailConfirmationToken)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.RoleId)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.RoleId)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.UserType)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.UserType)
                    </dd>
                </dl>
            </div>

            <div class="text-center">
                @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Back to List", "Index", "User", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
