@model IEnumerable<ProjectLibrary.ObjectBussiness.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    @Html.ActionLink("Tạo mới","Create","User", null, new {@class="btn btn-danger"})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Password)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailConfirmed)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.EmailConfirmationToken)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.RoleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmationToken)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.RoleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserType)
            </td>
            <td>
                    @Html.ActionLink("Sửa", "Edit", new {  id=item.UserId  },new {@class="text-danger"}) |
                    @Html.ActionLink("Chi Tiết", "Details", new {  id=item.UserId},new {@class="text-danger" })  |
                    @Html.ActionLink("Xóa", "Delete", new {id=item.UserId },new {@class="text-danger"})

                    @Html.ActionLink("Thông tin", "Details", "UserDetail", new { id = item.UserId }, new { @class = "btn btn-primary" })
            </td>
        </tr>
}
    </tbody>
</table>
