@model ProjectLibrary.ObjectBussiness.Notification

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Notification Details</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card border rounded p-3 mb-3 bg-light">
                <h4>Notification Information</h4>
                <hr />

                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.NotificationId)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.NotificationId)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Date)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Date)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.UserId)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.UserId)
                    </dd>
                </dl>
            </div>

            <div class="text-center">
                @Html.ActionLink("Edit", "Edit", new { id = Model.NotificationId }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Back to List", "Index", "Notification", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
</div>
