@model IEnumerable<ProjectLibrary.ObjectBussiness.Notification>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    @Html.ActionLink("Tạo mới", "Create", "Notification", null, new { @class = "btn btn-danger" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NotificationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NotificationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.NotificationId }, new { @class = "text-danger" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.NotificationId }, new { @class = "text-danger" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.NotificationId }, new { @class = "text-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
