@using X.PagedList;
@using X.PagedList.Mvc.Core;

@{
    ViewData["title"] = "RecipesList";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    var recipes = ViewBag.Recipe;
    var categories = ViewBag.Category;
    var recipesCount = ViewBag.Recipe.Count;
}

<head>
    <style>
        .form-box form {
            display: flex;
            align-items: center;
            margin-left: 20%;
        }

        .form-box input[type="text"] {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            width: 60%; /* Đặt chiều rộng mong muốn cho ô nhập liệu */
            padding: 10px; /* Đặt padding cho ô nhập liệu */
            font-size: 16px; /* Đặt kích thước chữ cho ô nhập liệu */
            color: black;
        }

        .form-box button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlF5gHh/U7F+MOGz9q33ixPQ6LXRa9SM6PZzyZQGUr7Sj" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&display=swap">
</head>
<section id="recipes" class="recipes bwt-90">
    <div class="container text-center">

        <h1 class="title yellow">Amazing recipes for everyone</h1>
        <br />
        <div class="form-box">
            <form action="RecipesList" method="post">
                <input type="text" placeholder="Search your Recipe...." name="searchString" required class="form-control">
                <input type="submit" value="Search" class="btn btn-primary btn-lg">
            </form>
        </div>
        <div class="row">
            @foreach (var recipe in recipes)
            {
                <div class="col-sm-6 col-md-6 text-sm-left text-md-left text-lg-left bwt-offset-top-20 mb-4">
                    <div class="recipe-container">
                        <div class="row">
                            <div class="col-md-4 d-flex align-items-center">
                                <img src="@recipe.ImageTitle" class="img-responsive img-circle" style="width: 120px; height: 120px;">
                            </div>
                            <div class="col-md-8 text-md-left">
                                @{
                                    string recTitle = @recipe.RecipeTitle;
                                }
                                <h1 style="color: white; font-size: 24px;">
                                    @Html.ActionLink(recTitle, "Index", "Recipe", new { recipeId = @recipe.RecipeId }, new { style = "color: white; text-decoration: none;", target = "_blank" })
                                </h1>
                                <p>@Truncate(recipe.Description, 50)</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <br />
        <br />
        <div class="row justify-content-center mt-4">
            <div class="col-md-12">
                @Html.PagedListPager((IPagedList)recipes, page => Url.Action("Index", new { page = page }))
            </div>
        </div>
    </div>
</section>

@* Hàm Truncate để giới hạn độ dài của chuỗi *@
@functions {
    public string Truncate(string input, int length)
    {
        if (input.Length <= length)
            return input;
        else
            return input.Substring(0, length) + "...";
    }
}

