@model ProjectLibrary.ObjectBussiness.UserDetail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">UserDetail Details</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card border rounded p-3 mb-3 bg-light col-sm-8 offset-sm-2">
                <h4>UserDetail Information</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.UserId)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.UserId)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.FullName)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.FullName)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>
                    <dd class="col-sm-6">
                        @{
                            string gender = Model.Gender ? "Nam" : "Nữ";
                        }
                        @Html.DisplayFor(model => gender)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Phone)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Avatar)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Avatar)
                    </dd>
                </dl>
            </div>

            <div class="text-center">
                @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Back to userList", "Index", "User", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
</div>
