@model ProjectLibrary.ObjectBussiness.Tag

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Tag Details</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card border rounded p-3 mb-3 bg-light">
                <h4>Contest Information</h4>
                <hr />

                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.TagId)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.TagId)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.TagName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.TagName)
                    </dd>
                </dl>
            </div>

            <div class="text-center">
                @Html.ActionLink("Edit", "Edit", new { id = Model.TagId }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
</div>
