@using X.PagedList;
@using X.PagedList.Mvc.Core;

@{
	ViewData["title"] = "ContestRecipesList";
	Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
	var recipes = ViewBag.Recipe;
	var recipe4Page = ViewBag.Recipe4Page;
	var UserName = ViewBag.UserName;
	var UserId = ViewBag.UserId;
	var ContestId = ViewBag.ContestId;
	var End = ViewBag.End;
}





<body id="page-top">


	<section id="recipesList" class="recipesList bwt-90">
		<div class="container text-center">

			@*Search Begin_____________*@
			<div class="bwt-footer bwt-100">
				<div class="container text-center">
					<div class="form-box">
						<form action="ContestRecipesList" method="post">
							<input type="text" placeholder="Search your Recipe...." name="searchString" required>
							<input type="submit" value="Search" class="btn btn-primary btn-lg">
						</form>
					</div>
				</div>
			</div>
			@*Search End_______________*@

			<br />

			@*List Recipe Begin_____________*@
			<div class="row">
				@foreach (var recipe in recipes)
				{
					<div class="col-sm-12 col-md-12 text-sm-left text-md-left text-lg-left bwt-offset-top-20">
						<div class="row">
							<div class="col-sm-4 col-md-3"><img src="@recipe.ImageTitle" class="img-responsive img-square"></div>
							<div class="col-sm-8 col-md-9">
								@{
									string recTitle = @recipe.RecipeTitle;
								}
								<h1>
									@Html.ActionLink(recTitle, "Index", "Recipe", new { recipeId = @recipe.RecipeId }, new { target = "_blank" })
								</h1>
								<p>@recipe.Description</p>

								@*Xử lý button vote_____________*@
								@if (End == 1) 
								{
									<button class="vote-btn btn btn-success btn-lg">
										<span class="glyphicon glyphicon-thumbs-up"></span>
										<span>Total Vote:</span>
										<span id="voteCount_@recipe.RecipeId">@recipe.TotalVote</span>
									</button>
								}
								else
								{
								@using (Html.BeginForm("VoteRecipe", "ContestRecipeList", FormMethod.Post))
								{
									@if (UserId.ToString() != recipe.Voted?.ToString())
									{
											<button type="submit" class="vote-btn btn btn-success btn-lg" onclick="toggleVote(this, @recipe.RecipeId)">
												<span class="glyphicon glyphicon-thumbs-up"></span>
												<span>Vote:</span>
												<span id="voteCount_@recipe.RecipeId">@recipe.TotalVote</span>
											</button>
										<input type="hidden" name="recipeId" value="@recipe.RecipeId" />
										<input type="hidden" name="vote" value="1" />
										<input type="hidden" name="contestId" value="@ContestId" />
									}
									else
									{
											<button type="submit" class="vote-btn btn btn-danger btn-lg" onclick="toggleVote(this, @recipe.RecipeId)">
												<span class="glyphicon glyphicon-thumbs-down"></span>
												<span>Unvote:</span>
												<span id="voteCount_@recipe.RecipeId">@recipe.TotalVote</span>
											</button>
										<input type="hidden" name="recipeId" value="@recipe.RecipeId" />
										<input type="hidden" name="unvote" value="0" />
										<input type="hidden" name="contestId" value="@ContestId" />
									}

								}
								}
							</div>
						</div>
					</div>
				}
				<br />
				@*Pagination Begin*@
				@Html.PagedListPager((IPagedList)recipe4Page, page => Url.Action("Index", new { page = page }))
				@*Pagination End*@
			</div>
			@*List Recipe End_____________*@
		</div>


	</section>

	@*Xử lý vote/Unvote*@
	<script>
		function toggleVote(button, recipeId) {
			//event.preventDefault();
			var voteCountSpan = document.getElementById('voteCount_' + recipeId);
			var currentText = button.innerHTML;
			var currentVoteCount = parseInt(voteCountSpan.textContent);
			var idButton = 'voteCount_' + recipeId

			if (currentText.includes("Vote")) {
				// Vote action
				button.innerHTML = '<span class="glyphicon glyphicon-thumbs-down"></span> <span>Unvote:</span> <span id="' + idButton + '">' + (currentVoteCount + 1) + '</span>';
				button.className = "vote-btn btn btn-danger";
				button.type = "submit";
				voteCountSpan.textContent = currentVoteCount + 1; // Update vote count
			} else {
				// Unvote action
				button.innerHTML = '<span class="glyphicon glyphicon-thumbs-up"></span> <span>Vote:</span> <span id="' + idButton + '">' + (currentVoteCount - 1) + '</span>';
				button.className = "vote-btn btn btn-success";
				button.type = "submit";
				voteCountSpan.textContent = currentVoteCount - 1; // Update vote count
			}
			return false; // Ngăn chặn sự kiện submit mặc định
			// Add your logic for handling the vote/unvote action here
		}
	</script>



</body>
