@model ProjectLibrary.ObjectBussiness.Comment
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["title"] = "Recipe";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    var recipes = ViewBag.Recipe as IEnumerable<ProjectLibrary.ObjectBussiness.Recipe>;
    var IngredientGroups = ViewBag.IngredientGroup as IEnumerable<ProjectLibrary.ObjectBussiness.IngredientsGroup>;
    //var IngredientDetails = ViewBag.IngredientDetail as IEnumerable<ProjectLibrary.ObjectBussiness.IngredientsDetail>;
    var RecipeSteps = ViewBag.RecipeStep as IEnumerable<ProjectLibrary.ObjectBussiness.RecipesStep>;
    var Comments = ViewBag.Comment as IEnumerable<ProjectLibrary.ObjectBussiness.Comment>;
    var UserName = ViewBag.UserName;
    var UserId = ViewBag.UserId;
    var RecipeId = ViewBag.RecipeId;
}
<head>
    <style>
        /* Áp dụng kích thước cho hình ảnh */
        .recipe-img img {
            width: 100%; /* Đặt kích thước chiều rộng là 100% */
            height: 300px; /* Đặt kích thước chiều cao là 100% */
            object-fit: cover; /* Đảm bảo hình ảnh được điều chỉnh tỷ lệ và lấp đầy phần tử */
            padding-right: 12px;
        }

        /* Đặt chiều cao cho phần chứa hình ảnh */
        .recipe-img-container {
            height: 300px; /* Đặt chiều cao tùy ý */
        }

        /* CSS cho phần Ingredients*/
        .ingredients,
        .step {
            background-color: #f8f9fa;
            padding: 20px;
            width: calc(50% - 10px); /* Đặt chiều rộng của mỗi phần là 50%, trừ đi khoảng cách 10px */
            display: inline-block; /* Hiển thị như là inline-block để chúng nằm cùng một hàng */
            box-sizing: border-box; /* Box-sizing để padding không tăng kích thước của phần tử */
        }

            .ingredients h1,
            .step h1 {
                font-family: 'Dancing Script', cursive;
                font-size: 30px;
                color: #0d1b75;
                text-align: left;
                margin: 0;
                padding: 10px;
            }

        .ingredients-content,
        .step-content {
            list-style-type: none;
            padding: 0;
        }

        .ingredients-content,
        .step-item {
            border-bottom: 1px solid #dcdcdc;
            padding: 10px;
        }

            .ingredients-content:last-child,
            .step-item:last-child {
                border-bottom: none;
            }

            .ingredients-content h2,
            .step-item h3 {
                margin: 0;
            }

            .ingredients-content .description {
                white-space: pre-wrap;
                font-size: 18px;
                margin-top: 10px;
                width: 100%;
                max-height: 350px;
                overflow-y: auto; /* Thêm thanh cuộn nếu nội dung vượt quá chiều cao tối đa */
            }

            .ingredients-content .descriptionStep {
                white-space: pre-wrap;
                font-size: 18px;
                margin-top: 10px;
                width: 100%;
                min-height: 50px;
            }

        .step-item-detail {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
        }

        .step-img {
            flex-grow: 1;
            padding-top: 10px;
        }

        

        .comment-text {
            font-size: 16px; /* Độ lớn của phần text */
            line-height: 40px; /* Chiều cao của phần text */
            margin-bottom: 10px; /* Khoảng cách giữa các phần text (nếu cần) */
        }

            .comment-text p {
                margin-left: 2%; /* Đặt margin về 0 để loại bỏ khoảng trắng xung quanh phần text */
                color: black;
            }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlF5gHh/U7F+MOGz9q33ixPQ6LXRa9SM6PZzyZQGUr7Sj" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&display=swap">

</head>
<body>
    <section id="recipe" class="recipe bwt-90">
        <div class="bar"></div>
        <div class="container">
            <ol class="breadcrumb bg-light p-3 rounded-0">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "HomeUser", new { area = "User" })" class="text-dark">Home</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "RecipesList", new { area = "User" })" class="text-dark">Recipe</a></li>
                <li class="breadcrumb-item active">@recipes?.FirstOrDefault()?.RecipeTitle</li>
            </ol>

            <h1 style="font-family: 'Dancing Script', cursive; font-size: 80px;color: #0d1b75; text-align: center; margin: 0; padding: 20px; ">
                @recipes?.FirstOrDefault()?.RecipeTitle
            </h1>

            <div class="recipe-info">
                <div class="container">
                    <div class="row">
                        <!-- Phần bên trái (ảnh) -->
                        <div class="col-md-6">
                            <div class="recipe-img-container">
                                <div class="recipe-img">
                                    <img src="@recipes?.FirstOrDefault()?.ImageTitle" alt="Recipe Image" class="img-fluid custom-img-size">
                                </div>
                            </div>
                        </div>

                        <!-- Phần bên phải (thông tin) -->
                        <div class="col-md-6">
                            <div class="recipe-author">
                                <h4 class="mb-0">By: <span>@recipes?.FirstOrDefault()?.CreatorNavigation?.UserName</span></h4>
                                <h4 class="mb-0">Updated on: <span>@recipes?.FirstOrDefault()?.CreateDate</span></h4>
                            </div>
                            <div class="recipe-description mt-3">
                                <p class="mb-0">@recipes?.FirstOrDefault()?.Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="recipe-wrap">
                        <h3 class="text-white" style="font-family: 'Dancing Script', cursive; font-size: 26px;color: #0d1b75; text-align: left; margin: 0; padding-bottom: 10px; ">INFO</h3>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-action list-group-item-info">
                                <strong>Prep Time:</strong> @recipes?.FirstOrDefault()?.PrepTime mins
                            </li>
                            <li class="list-group-item list-group-item-action list-group-item-secondary">
                                <strong>Cook Time:</strong> @recipes?.FirstOrDefault()?.CookTime mins
                            </li>
                            <li class="list-group-item list-group-item-action list-group-item-info">
                                <strong>Total Time:</strong> @recipes?.FirstOrDefault()?.TotalTime mins
                            </li>
                            <li class="list-group-item list-group-item-action list-group-item-secondary">
                                <strong>Servings:</strong> @recipes?.FirstOrDefault()?.Servings people
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="recipe-wrap">
                        <h3 class="text-white" style="font-family: 'Dancing Script', cursive; font-size: 26px;color: #0d1b75; text-align: left; margin: 0; padding-bottom: 10px; ">NUTRITION FACTS</h3>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-action list-group-item-info">
                                <strong>Calories:</strong> @recipes?.FirstOrDefault()?.Calories g
                            </li>
                            <li class="list-group-item list-group-item-action list-group-item-secondary">
                                <strong>Fat:</strong> @recipes?.FirstOrDefault()?.Fat g
                            </li>
                            <li class="list-group-item list-group-item-action list-group-item-info">
                                <strong>Carbs:</strong> @recipes?.FirstOrDefault()?.Carbs g
                            </li>
                            <li class="list-group-item list-group-item-action list-group-item-secondary">
                                <strong>Protein:</strong> @recipes?.FirstOrDefault()?.Protein g
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="recipe-wrap">
                        <h3 class="text-white" style="font-family: 'Dancing Script', cursive; font-size: 26px;color: #0d1b75; text-align: left; margin: 0; padding-bottom: 10px; ">INGREDIENTS</h3>
                        <ul class="list-group">
                            @foreach (var IngGroup in IngredientGroups)
                            {
                                <li class="ingredients-content">
                                    <h2 class="text-white" style="font-family: 'Dancing Script', cursive; font-size: 20px;color: #0d1b75; text-align: left; margin: 0; padding-bottom: 10px;">@IngGroup.NameIngredients</h2>
                                    <ol>
                                        <textarea class="description" rows="7" readonly>@IngGroup.Description</textarea>
                                    </ol>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="recipe-wrap">
                        <h3 class="text-white" style="font-family: 'Dancing Script', cursive; font-size: 26px;color: #0d1b75; text-align: left; margin: 0; padding-bottom: 10px; ">STEP BY STEP</h3>
                        <ul class="list-group">
                            @foreach (var RecipeStep in RecipeSteps)
                            {
                                <li class="ingredients-content">
                                    <h2 class="text-white" style="font-family: 'Dancing Script', cursive; font-size: 20px;color: #0d1b75; text-align: left; margin: 0; padding-bottom: 10px;">Step: <span>@RecipeStep.Step</span></h2>
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-action list-group-item-secondary" style="height: 50;margin-top: 10px; overflow: hidden; word-wrap: break-word; ">
                                            @RecipeStep.Description
                                        </li>
                                        <button class="btn btn-primary" onclick="showStepVideo('@RecipeStep.VideoUrl', this)" style="margin: 5px">Play Video</button>
                                        <div class="step-video-container" style="display: none;">
                                            <iframe class="step-img" width="535" height="300" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen onended="showVideoButton(this)"></iframe>
                                        </div>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="video-tutorial">
            <div class="container">
                <h3 class="text-white" style="font-family: 'Dancing Script', cursive; font-size: 26px;color: #0d1b75; text-align: left; margin: 0; padding-bottom: 10px; ">
                    VIDEO TUTORIAL
                </h3>
                <div class="video-content">
                    <button class="btn btn-primary" onclick="showVideo(this)" style="margin: 5px">Play Video</button>
                    <div id="video-container" style="display: none;">
                        <iframe id="video-frame" class="embed-responsive-item" style="width: 70%; min-height: 450px; display: block; margin: 0 auto;" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen onended="showVideoButton(this)"></iframe>

                    </div>
                </div>
            </div>
        </div>

        <hr />


        <div class="container mt-5">
            <h3 class="text-white mb-4">COMMENTS</h3>

            @foreach (var Comment in Comments)
            {
                <div class="media mb-4">
                    <div class="media-body">
                        <h4 class="mt-0">@Comment.UserId -- @Comment?.User?.UserName</h4>
                        <small>Date: @Comment?.CreateDate</small>
                        <div class="comment-text">
                            <p>@Comment?.CommentText</p>
                        </div>
                        <a class="btn btn-link" data-toggle="collapse" href="#replyCollapse@Comment.CommentId" role="button" aria-expanded="false" aria-controls="replyCollapse@Comment.CommentId">
                            View Reply
                        </a>
                        <div class="collapse" id="replyCollapse@Comment.CommentId">
                            <div class="well mt-2">
                                <h5>User 3</h5>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati nostrum deserunt rerum delectus nobis quas aperiam dolores mollitia quidem. Amet?</p>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="media mt-4">
                <div class="media-body">
                    <h4 class="mt-0">@UserName</h4>
                    @using (Html.BeginForm("SaveComment", "Recipe", FormMethod.Post, new { enctype = "multipart/form-data", @class = "mb-4" }))
                    {
                        <div class="form-group">
                            <div class="input-group">
                                <textarea asp-for="@Model.CommentText" class="form-control" rows="3" style="border: 1px solid #ddd; border-radius: 10px; height: 50px; font-size: 16px" ></textarea>
                                <div class="input-group-append">
                                    <button id="addComment" class="btn btn-primary" style="margin: 5px">Comment</button>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" asp-for="@Model.CommentId" class="form-control" />
                        <input type="hidden" asp-for="@Model.UserId" class="form-control" value="@UserId" />
                        <input type="hidden" asp-for="@Model.RecipeId" class="form-control" value="@RecipeId" />
                        <input type="hidden" asp-for="@Model.CreateDate" class="form-control" />
                    }
                </div>
            </div>
        </div>


    </section>
</body>
<script>
    function showVideo(button) {
        var videoContainer = document.getElementById("video-container");
        var videoFrame = document.getElementById("video-frame");

        // Thay đổi đường dẫn video sau dấu "=" bằng đường dẫn thực của bạn
        var videoUrl = "@recipes?.FirstOrDefault()?.VideoUrl?.ToString()";

        videoFrame.src = videoUrl;
        videoContainer.style.display = "block";
        button.style.display = "none";
    }

    function showVideoButton(video) {
        var button = video.parentElement.previousElementSibling.querySelector("button");
        button.style.display = "block";
    }

    function showStepVideo(videoUrl, button) {
        var videoContainer = button.nextElementSibling;
        var videoFrame = videoContainer.querySelector('.step-img');

        videoFrame.src = videoUrl;
        videoContainer.style.display = "block";
        button.style.display = "none";
    }

</script>